body {
  background-color: #8FBC8F;
  margin: 0;
  text-align: center;
   font-family: 'Merriweather', 'serif';
}
 






 h1{
  font-family: 'Sacramento', 'cursive';
  line-height: 2;
  padding-top: 2px;
  padding-bottom: 2px;
}

h3{
  font-family: 'Courier New';
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
}


hr{
  border-style:none;

}

.course{
  padding-top: 2px;
  padding-bottom: 2px;
}
